{% extends 'eureka/base.html' %}

{% load static %}

{% block title %}
	{{ category_name }} : Archive
{% endblock %}

{% block body_block %}

	<div class="hero-unit">
		<h2> {{ category_name }} </h2>
		
		{% if category %}
			<p>
				<h4><b id="like_count">{{ category.likes }}</b> people like this category | Viewed <b id="view_count">{{ category.views }}</b> times</h4>
				
				{% if user.is_authenticated %}
					{% if not isLiked %}
						<button id ="likes" data-catid="{{category.id}}" data-userid="{{ user.id }}" class="btn btn-mini btn-primary" type="button">Like</button>
						<h5 id="just_liked" style="display:none">Liked</h5>
					{% else %}
						<h5 id="you_unliked">You like this category <button id ="unlike" data-catid="{{category.id}}" data-userid="{{ user.id }}" class="btn btn-mini btn-primary" type="button">Unlike</button> </h5>
						<h5 id="just_unliked" style="display:none">Unliked</h5>
					{% endif %}
				{% endif %}
			</p>
			<br>
			<!-- For displaying articles tab -->
			<div class="tabs">
			    <ul class="tab-links">
			        <li><a href="/eureka/category/{{ category_name_url }}/"><img alt="Home" src="{% static 'eureka/img/home.png' %}" height="30" width="30"></a></li>
			        <li><a href="/eureka/category/{{ category_name_url }}/popular/">Popular</a></li>
			        <li><a href="/eureka/category/{{ category_name_url }}/current_issue/">Current Issue</a></li>
			        <li class="active"><a>Archive</a></li>
			    </ul>
			    
			    <div class="tab-content">
			    	<ul type="square">
			    		{% if current_issue %}
				   			{% if current_issue == 2 %}
				   				<li>
					   				Volume: {{ current_volume }}
					   				<ul>
					   					<li><a href="/eureka/category/{{ category_name_url }}/archive/{{ current_volume }}/1/">Issue: 1</a></li>
					   				</ul>
					   			</li>
					   		{% endif %}
					   		
				   			{% for x in volume_list %}
				   				<li>Volume: {{ x }}
				   					<ul>			   					
										<li><a href="/eureka/category/{{ category_name_url }}/archive/{{ x }}/1/">Issue: 1</a></li>
										<li><a href="/eureka/category/{{ category_name_url }}/archive/{{ x }}/2/">Issue: 2</a></li><br>
									</ul>
					   			</li>
				   			{% endfor %}
			   			
			   			{% else %}
			   				<strong>Sorry, nothing's in archive for this category!</strong>
			   			{% endif %}
			   		</ul>
			    </div>
			</div>

	   	{% else %}
	    	The specified category {{ category_name }} does not exist!
	  	{% endif %}
	</div>
{% endblock %}