<!DOCTYPE html>

{% load static %}

<html>
	<head>
		<meta charset="UTF-8">
		<!-- Bootstrap -->
		<link href="{% static 'eureka/css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    	<link href="{% static 'eureka/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    	<link href="{% static 'eureka/css/bootstrap-responsive.css' %}" rel="stylesheet">
    	<link href="{% static 'eureka/css/articletab.css' %}" rel="stylesheet">
		<link rel="shortcut icon" href="{% static 'eureka/img/eureka.ico'%}" />
		
		<title>
			Eureka - 
			{% block title %}
				CVR e-Journal
			{% endblock %}
		</title>
	</head>
	
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
				
					<!--  <a class="brand" href="/eureka/">Eureka!</a> -->
					<a class="brand" href="/eureka/"><img src="{% static 'eureka/img/logo_passive.png' %}" height="19px" width="80px" onmouseover="this.src='{% static 'eureka/img/logo_active.png' %}'" onmouseout="this.src='{% static 'eureka/img/logo_passive.png' %}'" /></a>
					
					<div class="nav-collapse collapse">
						<ul class="nav pull-right">
							{% if user.is_authenticated %}
								<li><a href="/eureka/profile">{{ user.first_name }}</a></li>
								<li><a href="/eureka/logout/">Logout</a></li>
							{% else %}
								<li><a href="/eureka/register/">Register</a></li>
								<li><a href="/eureka/login/">Login</a></li>
							{% endif %}
						</ul>
						<ul class="nav">							
							{% if user.is_authenticated %}
								<li><a href="/eureka/submit_manuscript">Submit Manuscript</a></li>
							{% endif %}
							<li><a href="/eureka/about/">About</a></li> 
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3">
					<div class="well sidebar-nav">
							<ul class="nav nav-list">
			                    <li></li>
			                    <li></li>
			                    {% block navbar %}
			                    {% endblock %}
			                </ul>
			                						
					   		<ul class="nav nav-list">
				                <li class="nav-header">Find an Article</li>
				                <form id="search_article_form" method="post" action="/eureka/search_article/">
				                	{% csrf_token %}
					           		<li><input class="search-query span10" type="text" name="search_key" value="" id="search_key" placeholder="Search Keywords" /> <input type="submit" name="submit" value="Go" /></li>
				                </form>
				        	</ul>
				        	
							{% if cat_list %}
							  	<div>
							 		<ul class="nav nav-list">
										{% for cat in cat_list %}
									    	<li><a href="/eureka/category/{{ cat.url }}">{{ cat.name }}</a></li>
									    {% endfor %} 
									</ul>
							  	</div>
							{% endif %}
				
					</div>
				</div>
				<div class="span9">
					{% block body_block %}
					{% endblock %}
				</div>
			</div>
		</div>
		
		<hr>
			<footer>
				<div class="container">
					&copy; 2014. Iqbal Hussain. M.Tech (CSE). 12B81D5804. CVR College of Engineering, Hyd, IN.
				</div>
			</footer>
			
		<!-- JavaScript -->
		<script type="text/javascript" src="{% static 'eureka/js/jquery-2.1.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'eureka/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'eureka/js/eureka-ajax.js' %}"></script>
	</body>
</html>