{% extends 'eureka/base.html' %}

{% load static %}

{% block title %}
	{{ category_name }}
{% endblock %}

{% block body_block %}
	<script>
		window.onload=function()
		{
			setTimeout(function()
			{
				var catid = {{ category.id }};		
				$.get('/eureka/view_category/', {category_id: catid}, function(data)
				{
					$('#view_count').html(data);
				});
			}, 10000);
		}
	</script>
	
	<div class="hero-unit">
		<h2> {{ category_name }} </h2>
		{% if category %}
			<p>
				<h4><b id="like_count_cat">{{ category.likes }}</b> people like this category | Viewed <b id="view_count">{{ category.views }}</b> times</h4>
				{% if user.is_authenticated %}
					{% if not isLiked %}
						<button id ="likes" data-catid="{{category.id}}" data-userid="{{ user.id }}" class="btn btn-mini btn-primary" type="button">Like</button>
						<h5 id="just_liked" style="display:none">Liked</h5>
					{% else %}
						<h5 id="you_unliked">You like this category <button id ="unlike" data-catid="{{category.id}}" data-userid="{{ user.id }}" class="btn btn-mini btn-primary" type="button">Unlike</button> </h5>
						<h5 id="just_unliked" style="display:none">Unliked</h5>
					{% endif %}
				{% endif %}
			</p>
			<br>
			<!-- For displaying articles tab -->
			<div class="tabs">
			    <ul class="tab-links">
			        <li class="active"><a><img alt="Home" src="{% static 'eureka/img/home.png' %}" height="30" width="30"></a></li>
			        <li><a href="/eureka/category/{{ category_name_url }}/popular/">Popular</a></li>
			        <li><a href="/eureka/category/{{ category_name_url }}/current_issue/">Current Issue</a></li>
			        <li><a href="/eureka/category/{{ category_name_url }}/archive/">Archive</a></li>
			    </ul>
			    <div class="tab-content">
			    
			 		<div id="latest" style="width:48%;float:left;">
						<strong><h3>Five Latest Articles</strong></h3><br>
						{% if article_list_latest %}
							<ol>
					            {% for article in article_list_latest %}
					            	<li>
					            		<a href="/eureka/category/{{ category_name_url }}/article/{{ article.id }}/">{{ article.title }}</a><br>
					            		<small>Published On: {{ article.publishedOn }}</small><br>
					            		{% if article.views < 2 and article.likes < 2 %}
					            			<small>View: {{ article.views }}, Like: {{ article.likes }}</small><br>
					            		{% elif article.views < 2 and article.likes > 1 %}
					            			<small>View: {{ article.views }}, Likes: {{ article.likes }}</small><br>
					            		{% elif article.views > 1 and article.likes < 2 %}
					            			<small>Views: {{ article.views }}, Like: {{ article.likes }}</small><br>
					            		{% else %}
					            			<small>Views: {{ article.views }}, Likes: {{ article.likes }}</small><br>
					            		{% endif %}
					            	</li>
					            {% endfor %}
					        </ol>
					        <ul>
					        	<li><h4><strong><a href="/eureka/category/{{ category_name_url }}/current_issue/">View All Latest Articles</a></strong></h4></li>
					        </ul>
				        {% else %}
				        	<strong>Sorry, we have no articles to show here up! May be it's time for you to submit your own manuscript!</strong>
				        {% endif %}
					</div>
			
					<div id="popular" style="width:48%;float:right;">
						<strong><h3>Five Most Popular Articles</h3></strong><br>
						{% if article_list_popular %}
							<ol>
					            {% for article in article_list_popular %}
					            	<li>
					            		<a href="/eureka/category/{{ category_name_url }}/article/{{ article.id }}/">{{ article.title }}</a><br>
					            		{% if article.views < 2 and article.likes < 2 %}
					            			<small>View: {{ article.views }}, Like: {{ article.likes }}</small><br>
					            		{% elif article.views < 2 and article.likes > 1 %}
					            			<small>View: {{ article.views }}, Likes: {{ article.likes }}</small><br>
					            		{% elif article.views > 1 and article.likes < 2 %}
					            			<small>Views: {{ article.views }}, Like: {{ article.likes }}</small><br>
					            		{% else %}
					            			<small>Views: {{ article.views }}, Likes: {{ article.likes }}</small><br>
					            		{% endif %}
					            		<small>Published On: {{ article.publishedOn }}</small> <br><br>				            	
					            	</li>
					            {% endfor %}
					        </ol>
							<ul>
					        	<li><h4><strong><a href="/eureka/category/{{ category_name_url }}/popular/">View All Popular Articles</a></strong></h4></li>
					        </ul>
						{% else %}
							<strong>Sorry, we have no articles to show here up! May be you should read and like some articles!</strong>
						{% endif %}
					</div>
			    </div>
			</div>
		{% else %}
			<strong>Sorry, we have no category with the name you have provided!</strong>
		{% endif %}
	</div>
{% endblock %}