{% extends 'eureka/base.html' %}

{% block title %}
	Welcome to Eureka!
{% endblock %}

{% block body_block %}
	<div class="hero-unit">
    	<h1>Eureka!</h1>
    	<p>Welcome to the E-Journal of CVR College of Engineering</p>
	</div>

	<div class="row-fluid">
	    <div class="span6">
	        <h2>Top Five Categories</h2>
	        {% if categories %}
		        <ul>
		            {% for category in categories %}
		            	<li><a href="/eureka/category/{{ category.url }}">{{ category.name }}</a></li>
		            {% endfor %}
		        </ul>
	        {% else %}
	        	<strong>No categories at present.</strong>
	        {% endif %}
	
	    </div>
	    <!--/span-->
	    <div class="span6">
	        <h2>Top Five Pages</h2>
	        {% if pages %}
		        <ul>
		            {% for page in pages %}
		            	<li><a href="{{ page.url}}">{{ page.title }}</a> - {{ page.category }} ({{ page.views }} view(s))</li>
		            {% endfor %}
		        </ul>
	        {% else %}
	       		<strong>No pages at present.</strong>
	        {% endif %}
	
	    </div>
	    <!--/span-->
	</div>
	<!--/row-->
{% endblock %}