{% extends 'eureka/base.html' %}

{% load static %}

{% block title %}
	Welcome to Eureka!
{% endblock %}

{% block body_block %}
	<div class="hero-unit">
		<img src="{% static 'eureka/img/logo.png' %}" height="76px" width="320px"/>
	</div>

	<div class="row-fluid">
	    <div class="span6">
	        <h3>Top Five Categories</h3>
	        {% if categories %}
		        <ol>
		        	{% for category in categories %}
						<li>
					    	<strong><a href="/eureka/category/{{ category.url }}">{{ category.name }}</a></strong>
					        {% if category.views < 2 and category.likes < 2 %}
					        	<small>(View: {{ category.views }}, Like: {{ category.likes }})</small><br>
					        {% elif category.views < 2 and category.likes > 1 %}
					        	<small>(View: {{ category.views }}, Likes: {{ category.likes }})</small><br>
					        {% elif category.views > 1 and category.likes < 2 %}
					        	<small>(Views: {{ category.views }}, Like: {{ category.likes }})</small><br>
					        {% else %}
					        	<small>(Views: {{ category.views }}, Likes: {{ category.likes }})</small><br>
					        {% endif %}
						</li>
					{% endfor %}
		        </ol>
	        {% else %}
	        	<strong>No categories at present.</strong>
	        {% endif %}
	    </div>
	    
	    <div class="span6">
	        <h3>Top Five Articles</h3>
	        {% if top_article_list %}
		        <ol>
		        	{% for article in top_article_list %}
						<li>
							<strong><a href="/eureka/category/{{ article.category_url }}/article/{{ article.id }}/">{{ article.title }}</a></strong>
						    
						    {% if article.views < 2 and article.likes < 2 %}
						    	<small>(View: {{ article.views }}, Like: {{ article.likes }}</small>
						    {% elif article.views < 2 and article.likes > 1 %}
						    	<small>(View: {{ article.views }}, Likes: {{ article.likes }}</small>
						    {% elif article.views > 1 and article.likes < 2 %}
						    	<small>(Views: {{ article.views }}, Like: {{ article.likes }}</small>
						    {% else %}
						    	<small>(Views: {{ article.views }}, Likes: {{ article.likes }}</small>
						    {% endif %}
						    <small>| Published On: {{ article.publishedOn }}</small>
						    <small>| in <a href="/eureka/category/{{ article.category_url }}">{{ article.category_name }}</a>)</small>
						    <br>
						</li>
					{% endfor %}
		        </ol>
	        {% else %}
	       		<strong>Sorry, we have no articles at all presently!</strong>
	        {% endif %}
	    </div>
	</div>
{% endblock %}