{% extends 'eureka/base.html' %}

{% block title %}
	Login
{% endblock %}

{% block body_block %}
	<div class="hero-unit">
	    <h3>Login to Eureka</h3>
	
	    <div class="container">
		    <form class="form-signin span4" id="login_form" method="post" action="/eureka/login/">
		        <h4 class="form-signin-heading">Sign in with your Eureka account</h4>
		        {% if bad_details %}
	            	<p><strong>Your username and/or password was incorrect!</strong></p>
	            {% elif disabled_account %}
	            	<p><strong>Your Eureka account is currently disabled; we can't log you in!</strong></p>
	            {% endif %}
		        
		        {% csrf_token %}		
		        Username: <input type="text" class="input-block-level" placeholder="Username" name="username" value="" size="50" />
		        <br />
		        Password: <input type="password" class="input-block-level" placeholder="Password" name="password" value="" size="50" />
		        <br />
		        <button class="btn btn-primary" type="submit">Sign In</button>
		    </form>
	
	    </div>
	    <!-- /container -->
	</div>
{% endblock %}